@model Web2.Models.User.ProfileModel
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@

<div class="container text-center my-3" style="">
    <div class="row mx-auto my-auto">
        <div id="allMapCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">

                @{
                    var check = true;
                }
                @foreach (var allMap in Model.AllMap)
                {
                    @if (check)
                    {
                        <div class="carousel-item active ">
                            <div class="d-block col-3 card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@allMap.Name</h5>
                                    <a class="btn btn-primary" asp-controller="User" asp-action="SubscribeMap" asp-route-id="@allMap.MapId">Подписаться</a>
                                </div>
                            </div>
                        </div>
                        check = false;
                    }
                    else
                    {
                        <div class="carousel-item ">
                            <div class="d-block col-3 card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@allMap.Name</h5>
                                    <a class="btn btn-primary" asp-controller="User" asp-action="SubscribeMap" asp-route-id="@allMap.MapId">Подписаться</a>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
            <a class="carousel-control-prev" href="#allMapCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#allMapCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Cледующий</span>
            </a>
        </div>
    </div>
</div>


<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="subsMapCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">

                @{
                    var check2 = true;
                }
                @foreach (var allMap in Model.SubsMap)
                {
                    @if (check2)
                    {
                        <div class="carousel-item active ">
                            <div class="d-block col-3 card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@allMap.Map.Name</h5>
                                    <a class="btn btn-primary" asp-controller="Map" asp-action="WorkWithMap" asp-route-id="@allMap.MapId">Продолжить</a>
                                </div>
                            </div>
                        </div>
                        check2 = false;
                    }
                    else
                    {
                        <div class="carousel-item ">
                            <div class="d-block col-3 card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@allMap.Map.Name</h5>
                                    <a class="btn btn-primary" asp-controller="Map" asp-action="WorkWithMap" asp-route-id="@allMap.MapId">Продолжить</a>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
            <a class="carousel-control-prev" href="#subsMapCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#subsMapCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Cледующий</span>
            </a>
        </div>
    </div>
</div>

<style>
    

    img {
        max-width: 100%;
        height: auto
    }
    .card-body {
        background-image: url(https://cdn.pixabay.com/photo/2016/02/28/09/29/board-1226674_1280.jpg);
        background-size: cover;
        margin-top: 5%;
        margin-bottom: 5%
    }
    

    .carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
        display: flex
    }

    .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
        transform: translateX(25%)
    }

    .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
        transform: translateX(-25%)
    }
    .carousel-control-prev {
        max-width:50px;
        background-color: lightgray
    }
    .carousel-control-next {
        max-width: 50px;
        background-color: lightgray
    }
    

    .carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
        transform: translateX(0)
    }
</style>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $('#multiCarousel').carousel({
        interval: 10000
    })
    $('.carousel .carousel-item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>
